$accent-color: #a07119;
$bakground-heder: linear-gradient(221.87deg, #c7c7c7 1%, #9b9b9b 68%);
$text-lite: #ff6b08;
$dark-text: #e5e5e5;
$main-text: rgb(44, 44, 44);
$dark-body: linear-gradient(221.87deg, #585858 1%, #2f2f2f 68%);
