.footer {
  display: flex;
  min-height: 50px;
  width: 100%;
  font-size: 16px;
  background: $bakground-heder;
  padding: 10px;
  color: $main-text;
}
.plase {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}
.data__new {
  margin-left: 5px;
  @media screen and (min-width: 768px) {
    margin-right: 10px;
  }
}
.adress {
  display: flex;
}
.adress-city {
  cursor: pointer;
  position: relative;
  color: $accent-color;
  margin-left: 5px;
  margin-right: 3px;
  text-shadow: 1px 1px 1px black;
  &:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: $main-text;
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.25s;
  }
  &:hover:after {
    transform: scaleX(1);
    transition: transform 0.25s;
  }
}
.adress-img {
  display: block;
  height: 18px;
  width: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(./../imeges/svg/location2.svg);
}
